In [178]:
"I eat %d apples." %3

'I eat 3 apples.'

In [179]:
"I eat %s apples." % "five"

'I eat five apples.'

In [180]:
number=3
"I eat %d apples." % number

'I eat 3 apples.'

In [181]:
number=10
day="three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

In [182]:
"I have %s apples" % 3

'I have 3 apples'

In [183]:
'I have 3 apples'

'I have 3 apples'

In [184]:
"rate is %s" %3.234

'rate is 3.234'

In [185]:
"Error is %d%%." %98

'Error is 98%.'

In [186]:
"%-10sjane."%'hi'

'hi        jane.'

In [187]:
"%10s" % "hi"

'        hi'

In [188]:
"%0.4f"%3.42134234

'3.4213'

In [189]:
"%10.4f"%3.42134234

'    3.4213'

In [190]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [191]:
"I eat {0} apples".format("five")

'I eat five apples'

In [192]:
"I eat {0} apples".format(number)

'I eat 10 apples'

In [193]:
number=10
day="three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [194]:
"I ate {number} apples. so I was sick for {day} days." .format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [195]:
"I ate {0} apples. so I was sick for {day} days." .format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [196]:
"{0:<10}".format("hi")

'hi        '

In [197]:
"{0:>10}".format("hi")

'        hi'

In [198]:
"{0:^10}".format("hi")

'    hi    '

In [199]:
"{0:=^10}".format("hi")

'====hi===='

In [200]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [201]:
y=3.42134234
"{0:0.4f}",format(y)

('{0:0.4f}', '3.42134234')

In [202]:
"{{and}}".format()

'{and}'

In [203]:
name='홍길동'
age=30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [204]:
age=30
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [205]:
d={'name':'홍길동','age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [206]:
f'{"hi":<10}'
f'{"hi":>10}'
f'{"hi":^10}'

'    hi    '

In [207]:
f'{"hi":=^10}'
f'{"hi":!<10}'

'hi!!!!!!!!'

In [208]:
y=3.4213424
f'{y:0.4f}'
f'{y:10.4f}'

'    3.4213'

In [209]:
f'{{and}}'

'{and}'

In [210]:
a="hobby"
a.count('b')

2

In [211]:
a="Python is the best choice"
a.find('b')
a.find('k')

-1

In [212]:
a="Life is too short"
a.index('t')

8

In [ ]:
",".join('abcd')

'a,b,c,d'

In [ ]:
",".join(['a','b','c','d'])

'a,b,c,d'

In [ ]:
a="hi"
a.upper()

'HI'

In [ ]:
a="hi"
a.lower()

'hi'

In [ ]:
a=" hi "
a.lstrip()

'hi '

In [ ]:
a=" hi "
a.rstrip()

' hi'

In [ ]:
a=" hi "
a.strip()

'hi'

In [ ]:
a="Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [ ]:
a="Life is too short"
a.split()
b="a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']